<h1>Login</h1>

<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, class: name %>
<% end %>


<%= form_tag login_path do %>
  <div class="full_column">
    <fieldset>
      <p>
        <%= label_tag :email, 'Email', class: 'field_style' %>
        <%= text_field_tag :email, params[:email], class: 'text_box_style', autofocus: 'autofocus' %>
      </p>

      <p>
        <%= label_tag :password, 'Password', class: 'field_style' %>
        <%= password_field_tag 'masked', nil, class: 'text_box_style' %>
      </p>

      <div style="width: 71%; float:right">
        <%= submit_tag "Submit", class: 'submit_button' %>
      </div>
    </fieldset>
  </div>


<% end %>
