<h2>Create an Account</h2>

<% if !@user.errors.empty? %>
  <div id="message_wrapper">
    <div class="message_error">|
      <% @user.errors.full_messages.each do |error| %>
        <%= error %>&nbsp;|
      <% end %>
    </div>
  </div>
<% end %>

<%= form_for @user do |f| %>
  <div class="full_column">
    <fieldset>
      <p><%= f.label :first_name, 'First Name', class: 'field_style' %>
        <%= f.text_field :first_name, class: 'text_box_style', autofocus: 'autofocus' %></p>

      <p><%= f.label :last_name, 'Last Name', class: 'field_style' %>
        <%= f.text_field :last_name, class: 'text_box_style' %></p>

      <p><%= f.label :email, 'Email', class: 'field_style' %>
        <%= f.email_field :email, class: 'text_box_style' %></p>

      <p><%= f.label :password, 'Password', class: 'field_style' %>
        <%= f.password_field :password, class: 'text_box_style' %></p>

      <p><%= f.label :password_confirmation, 'Password Confirmation', class: 'field_style' %>
        <%= f.password_field :password_confirmation, class: 'text_box_style' %></p>

      <div style="width: 82%; float:right; font-size: 12px;">
        <div class="terms_of_service"> I agree to <%= link_to 'Terms of Service', terms_path %>&nbsp;
          <%= f.check_box :terms_of_service, id: 'Terms of Service' %>
          <%= f.submit 'Submit', class: 'submit_button', style: 'font-size: 14px;' %>
        </div>
    </fieldset>
  </div>
<% end %>

