<h1>Welcome to Dashboard</h1>

<% flash.each do |name, msg| %>
  <%= content_tag :div, msg, class: name %>
<% end %>

<% if @user %>
  Hello, <%= @user.full_name %>
  <%= button_to 'Sign Out', logout_path, action: :delete, method: "get", class: "submit_button" %>
<% else %>
  <%= button_to 'Sign In', login_path, method: "get", class: "submit_button" %>
  <%= button_to 'Sign Up', new_user_path, method: "get", class: "submit_button" %>
<% end %>
