<% @events.each do |event| %>
  <table class="events">
    <thead>
    <th>Occurred on</th>
    <th>User id</th>
    <th>Type</th>
    <th>Properties</th>
    </thead>
    <tbody>
    <tr>
      <td><%= event.occurred_on %></td>
      <td><%= event.user_id %></td>
      <td><%= event.event_type %></td>
      <td><%= event.properties %></td>
    </tr>
    </tbody>
  </table>
<% end %>
<%= paginate @events %>

