<% if !@project.errors.empty? %>
  <div id="message_wrapper">
    <div class="message_error">|
      <% @project.errors.full_messages.each do |error| %>
        <%= error %>&nbsp;|
      <% end %>
    </div>
  </div>
<% end %>

<%= form_for @project do |f| %>
  <table>
    <tr>
      <td><%= f.label :project_name, 'Name of Project' %></td>
      <td><%= f.text_field :project_name %></td>
    </tr>
    <td></td>
    <td><%= f.submit 'Add Project' %></td>
  </table>
<% end %>
