<% if !@project.errors.empty? %>
  <div id="message_wrapper">
    <div class="message_error">|
      <% @project.errors.full_messages.each do |error| %>
        <%= error %>&nbsp;|
      <% end %>
    </div>
  </div>
<% end %>

<%= form_for @project do |f| %>
  <div class="full_column">
    <fieldset>
      <p><%= f.label :project_name, 'Name of Project', class: 'field_style' %>
        <%= f.text_field :project_name, class: 'text_box_style' %></p>

      <div style="width: 73%; float:right;">
        <%= f.submit 'Add Project', class: 'submit_button' %>
      </div>

    </fieldset>
  </div>
<% end %>
