<h1><%= @project.project_name %></h1>
<h3><a href="/projects/<%= @project.id %>/documentation">Documentation</a></h3>
<div>
API Key: <%= @project.project_api %>
</div>
<table class="membership-table">
  <tr>
    <th>Name</th>
    <th>Email</th>
    <th></th>
  </tr>
  <% @members.each do |member| %>
    <tr>
      <td><%= member.full_name %></td>
      <td><%= member.email %></td>
      <td><a data-method="delete" href="/projects/<%= params[:id] %>/memberships/<%= member.id %>">Remove <%= member.first_name %></a></td>
    </tr>
<% end %>
</table>
<br>
<%= form_for [@project, @membership] do |f| %>
  <div id="membership-form-wrapper">
    <div class="membership-form"><%= f.label :user_id, 'Add User' %></div>
    <div class="membership-form"><%= f.collection_select(:user_id, @users, :id, :full_name, include_blank: 'Select a user') %></div>
    <div class="membership-form"><%= f.submit 'Add as member' %></div>
  </div>
<% end %>

<a href="/projects/<%= @project.id %>/events">View Events</a>
